.bannerBgImage{
    height:100vh;
    background:url("/src/assets/hpimg.jpg");
    background-size:cover;
    position:relative;
}

.bannerText{
    text-align:right;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    padding-right: 20px;
}
.bannerTitle{
    text-align:right;
    color:#fff;
    font-size:3rem;
}
.bannerDesc{
    font-size:25px;
    font-weight:bold;
    padding-left:40px;
    
}

.card{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 20px 40px 25px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img-top{
    height:30vh;
}
